
body {
    text-align: center;
}

button {
	display: block;
	margin: auto;
}


#level-objective {
	position: fixed;
	left: 5%;
	top: 25%;
	width: 10vw;
	text-align: left;
}

#high-scores {
	position: fixed;
	bottom: 5%;
	width: 100%;
	height: 5vw;
}

#high-scores-list {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin-left: 15%;
}

#high-scores-list li {
	width: 15%;
	text-align: left;
	padding-left: 25px;
}
